.CreateCourse .CreatingCourseSkeleton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.CreateCourse .CourseCreatorDashboard {
    padding: 20px 0;
    width: 90%;
    margin: auto;
}

.CreateCourse .CourseCreatorDashboard>* {
    padding: 10px;
    width: 90%;
}

@media only screen and (min-width: 768px) {
    .CreateCourse .CourseCreatorDashboard {
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    .CreateCourse .CourseCreatorDashboard {
        width: 60%;
    }
}

@media only screen and (min-width: 2560px) {
    .CreateCourse .CourseCreatorDashboard {
        width: 40%;
    }
}

/* .CreateCourse .CourseCreatorDashboard .privacyToggle {
    width: 80%;
    margin: auto;
} */