.CourseThumbNail {
    width: 125px;
    height: 180px;
    border-radius: 10px;
    background-color: #cccccc;
    color: #333333;
    padding: 10px;
}

.CourseThumbNail:hover {
    cursor: pointer;
}

.CourseThumbNail a {
    text-decoration: none;
    color: #333333;
}

.CourseThumbNail img {
    max-width: 100%;
    max-height: 70px;
}

.CourseThumbNail .title {
    font-weight: bold;
    /* color: red; */
}