.PageCreator {
    width: 90%;
    margin: auto;
}

.PageCreator>* {
    margin: 20px 0;
}

.PageCreator a {
    color: steelblue;
    text-decoration: none;
}

.PageCreator .pageTitleEditor {
    text-align: center;
    text-transform: capitalize;
}

.PageCreator>* {
    margin: 30px 0;
}

.PageCreator form>* {
    margin: 10px 0;
}