.PageCreator {
    width: 90%;
    margin: auto;
}

.PageCreator>* {
    margin: 20px 0;
}

.PageCreator a {
    color: steelblue;
    text-decoration: none;
}

.PageCreator .pageTitleEditor {
    text-align: center;
    text-transform: capitalize;
}

.PageCreator>* .Button {
    margin-top: 10px;
}