.PageViewer {
    width: 90%;
    margin: auto;
}

.PageViewer>* {
    margin: 20px 0;
}

.PageViewer a {
    color: steelblue;
    text-decoration: none;
    background-color: black;
    border-radius: 4px;
    padding: 11px;
}

.PageViewer .pageTitleViewer {
    text-align: center;
    text-transform: capitalize;
}

.PageViewer>* {
    margin: 30px 0;
}

@media only screen and (min-width: 1024px) {
    .PageViewer .titleAndDescriptionViewer {
        display: flex;
        width: 100%;
    }
    .PageViewer .titleAndDescriptionViewer>* {
        width: 50%;
    }
    .PageViewer .pageTitleViewer {
        margin-right: 15px;
    }
    .PageViewer .pageDescriptionViewer {
        margin-left: 15px;
    }
}