.SectionEditor {
    max-width: 100%;
    padding: 20px;
}

.SectionEditor .SectionEditorTitle {
    text-transform: capitalize;
    padding: 40px 0;
    text-align: center;
}

.SectionEditor .editableSectionsContainer {
    margin-bottom: 15px;
}

.SectionEditor .dashboardLink {
    color: steelblue;
    text-decoration: none;
    background-color: black;
    border-radius: 4px;
    padding: 11px;
}