.SectionEditor {
    max-width: 100%;
    padding: 20px;
    text-align: center;
}
.SectionEditor .SectionEditorTitle {
    text-transform: capitalize;
    padding-bottom: 40px;
}
.SectionEditor .editableSectionsContainer {
    margin-bottom: 15px;
}